$semi-white: rgb(200, 200, 200);
$yellow-text: #f2142c; // Used for dark mode div separation and graph color
$cyan-text: #00ACC1; // Used for "about" hyprlinks
$cyan-text-material: #00ACC1;
$yellow-text-material: #f2142c; // About underline color
$lighten-cyan-text: lighten($cyan-text, 20);
$main-bg-color: #101010;

$transparency: .6;

// Dark Theme
$main-shady-color: #20181f; // Select menu color
$main-bg-body-color: rgba($color: $main-shady-color, $alpha: .92); // Select menu color
$header-bg-color: rgba($color: #1f171e, $alpha: .85); // Old header color (deprecated)
$main-bg-content-color: rgba($color: #202020, $alpha: .4); // Old bg content color (deprecated)
$bg-white-lvl1: rgba($color: #453442, $alpha: .5); // Hover pie chart pop up color
$bg-white-lvl2: rgba($color: #312931, $alpha: $transparency); // Unknown
$bg-white-lvl2-5: rgba($color: #272527, $alpha: $transparency); // Unknown, probably deprecated
$bg-white-lvl4: rgba($color: $main-shady-color, $alpha: $transparency); // Unknown
$bg-white-lvl3-pure: #282029; // Scroll bar backround color
$bg-white-lvl3: rgba($color: $bg-white-lvl3-pure, $alpha: .4); // Unknown
$bg-white-lvl5: rgba($color: #121012, $alpha: $transparency); // Unknown, probably deprecated
$row-hover: rgba($semi-white, .02); // Unknown, probably deprecated

// New Dark Theme specs
$new-dark-header-bg-color:#000a13; // Used for Header
$new-dark-header-border-color: #808080; // Used for header border bottom
$new-dark-total-upper-bg-color: #04243c; // Used for background and odd rows
$new-dark-total-lower-bg-color: #000e1a; // Used for even rows
$new-dark-group-bg-color: $new-dark-total-upper-bg-color; // Used for group odd rows
$new-dark-graphic-bg-color: darken($new-dark-group-bg-color, 2); // Used for graphics background
$new-dark-body-bg-color: darken($new-dark-group-bg-color, 5); // Used for rows body background
$new-dark-row-even-bg-color: $new-dark-body-bg-color; // Used for detail even rows
$new-dark-total-border-color: $new-dark-body-bg-color; // Used for border between total headers
$new-dark-row-odd-bg-color: $new-dark-total-lower-bg-color; // Used for detail odd rows



// Light theme
$text-color: lighten(black, 5); // Used to color text
$main-bg-body-color-light: darken(white, 3); // Used for loading screen color
$header-bg-color-light: white; // Header
$cyan-text-light: darken($cyan-text, 40);
$petrol: #141651; // Used for first graph
$orange: #f2142c; // Used for second graph
$light-grey1: #F2F2F2; // Used for select panel
$light-grey2: #E6E6E6; // Used for title row and graphic div
$light-grey3: #9a0315; // Used for first level name
$light-grey4: #333333; // Used for navbar's text, row's value, graph's name and logo text

// Common styles
@mixin totalStyle {
    font-size: 16px;
    font-weight: bold;
}
@mixin detailStyle {
    font-size: 15px;
}

@mixin rowHoverEffect($even: true) {
    &:hover {
        background-color: rgba(white, .02);
    }
    @include new-dark-theme {
        &:hover {
            @if $even {
                background-color: lighten($new-dark-row-even-bg-color, 2) !important;
            } @else {
                background-color: lighten($new-dark-row-odd-bg-color, 2) !important;
            }
        }
    }
    @include light-theme {
        &:hover {
            background-color: rgba(black, .05) !important;
        }
    }
}

@mixin lightTheme {
    body[theme="light"] {
        @content;
    }
}

// Mixin used to change styling for Light Theme
// Used in components only
@mixin light-theme {
    body[theme="light"] :host & {
        @content;
    }
}

// Mixin used for Light Theme when parent caller already has :host prefix
@mixin light-theme-host {
    body[theme="light"] & {
        @content;
    }
}

// Used in global styles only
@mixin light-theme-global {
    body[theme="light"] {
        @content;
    }
}

// Mixin used to change styling for Dark Theme
// Used in components only
@mixin dark-theme {
	body[theme="dark"] :host & {
        @content;
    }
}

// Used in global styles only
@mixin dark-theme-global {
	body[theme="dark"] {
        @content;
    }
}

@mixin darkTheme {
	body[theme="dark"] {
        @content;
    }
}

// Mixin used to change styling for Dark Theme
// Used in components only
@mixin new-dark-theme {
	body[theme="new-dark"] :host & {
        @content;
    }
}

@mixin new-dark-theme-host {
	body[theme="new-dark"] & {
        @content;
    }
}

// Used in global styles only
@mixin new-dark-theme-global {
	body[theme="new-dark"] {
        @content;
    }
}

// Mixins
@mixin ie {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}

@mixin edge {
    @supports (-ms-accelerator:true) {
        @content;
    }
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin mobileLandscape {
    @media (min-width: 400px) and (max-width: 959.98px) and (orientation: landscape) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
        @content;
    }
}

@mixin tabletLandscapeUp {
    @media (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape), (min-width: 800px) {
        @content;
    }
}

@mixin tabletPortrait {
    @media (min-width: 600px) and (max-width: 839.98px) and (orientation: portrait) {
        @content;
    }
}

@mixin tabletLandscape {
    @media (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
        @content;
    }
}