$semi-white: white;
$yellow-text: #F8B03B;
$cyan-text: #00ACC1;
$cyan-text-material: #00ACC1;
$yellow-text-material: #F8B03B;
$lighten-cyan-text: lighten($cyan-text, 20);
$main-bg-color: #101010;
$dark-cyan-text: #28e8ff;
$light-blue: rgba(52, 52, 69, 0.5);
$saturated-gray: #8a999770;
$faint-gray: rgb(240, 240, 240);
$faint-black: #151515;

$transparency: .6;

// Dark Theme
$main-shady-color: #181820;
$header-bg-color: rgba($color: #17181F, $alpha: .85);
$main-bg-body-color: rgba($color: $main-shady-color, $alpha: .92);
$main-bg-content-color: rgba($color: #202020, $alpha: .4);
$bg-white-lvl1: rgba($color: #343445, $alpha: .5);
$bg-white-lvl2: rgba($color: #292931, $alpha: $transparency);
$bg-white-lvl2-5: rgba($color: #252527, $alpha: $transparency);
$bg-white-lvl4: rgba($color: $main-shady-color, $alpha: $transparency);
$bg-white-lvl3-pure: #202029;
$bg-white-lvl3: rgba($color: $bg-white-lvl3-pure, $alpha: .4);
$bg-white-lvl5: rgba($color: #101012, $alpha: $transparency);
$row-hover: rgba(white, .02);

// New Dark Theme specs
$new-dark-header-bg-color: black; // Used for Header
$new-dark-header-border-color: #808080; // Used for header border bottom
$new-dark-total-upper-bg-color: #1A1A1A; // Used for total and group rows
$new-dark-total-lower-bg-color: #111111; // Used for last total row of report total headers
$new-dark-group-bg-color: $new-dark-total-upper-bg-color; // Used for group rows
$new-dark-graphic-bg-color: darken($new-dark-group-bg-color, 2); // Used for graphics
$new-dark-body-bg-color: darken($new-dark-group-bg-color, 5); // Used for body
$new-dark-row-even-bg-color: $new-dark-body-bg-color; // Used for detail even rows
$new-dark-total-border-color: $new-dark-body-bg-color; // Used for border between total headers
$new-dark-row-odd-bg-color: $new-dark-total-lower-bg-color; // Used for detail odd rows



// Light theme
$text-color: lighten(black, 5);
$main-bg-body-color-light: darken(white, 3);
$header-bg-color-light: white;
$cyan-text-light: darken($cyan-text, 40);
$petrol: #17687F;
$petrol-saturate-80: #007A93;
$petrol-saturate-60: #5097AB;
$petrol-saturate-40: #79AEBF;
$petrol-saturate-20: #A6CAD8;
$orange: #E59123;
$light-grey1: #F2F2F2;
$light-grey2: #E6E6E6;
$light-grey3: #666666;
$light-grey4: #333333;

// Common styles
@mixin totalStyle {
    font-size: 16px;
    font-weight: bold;
}
@mixin detailStyle {
    font-size: 15px;
}

@mixin rowHoverEffect($even: true) {
    &:hover {
        background-color: rgba(white, .02);
    }
    @include new-dark-theme {
        &:hover {
            @if $even {
                background-color: lighten($new-dark-row-even-bg-color, 2) !important;
            } @else {
                background-color: lighten($new-dark-row-odd-bg-color, 2) !important;
            }
        }
    }
    @include light-theme {
        &:hover {
            background-color: rgba(black, .05) !important;
        }
    }
}

@mixin lightTheme {
    body[theme="light"] {
        @content;
    }
}

// Mixin used to change styling for Light Theme
// Used in components only
@mixin light-theme {
    body[theme="light"] :host & {
        @content;
    }
}

// Mixin used for Light Theme when parent caller already has :host prefix
@mixin light-theme-host {
    body[theme="light"] & {
        @content;
    }
}

// Used in global styles only
@mixin light-theme-global {
    body[theme="light"] {
        @content;
    }
}

// Mixin used to change styling for Dark Theme
// Used in components only
@mixin dark-theme {
	body[theme="dark"] :host & {
        @content;
    }
}

// Used in global styles only
@mixin dark-theme-global {
	body[theme="dark"] {
        @content;
    }
}

@mixin darkTheme {
	body[theme="dark"] {
        @content;
    }
}

// Mixin used to change styling for Dark Theme
// Used in components only
@mixin new-dark-theme {
	body[theme="new-dark"] :host & {
        @content;
    }
}

@mixin new-dark-theme-host {
	body[theme="new-dark"] & {
        @content;
    }
}

// Used in global styles only
@mixin new-dark-theme-global {
	body[theme="new-dark"] {
        @content;
    }
}

// Mixins
@mixin ie {
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		@content;
	}
}

@mixin edge {
    @supports (-ms-accelerator:true) {
        @content;
    }
    @supports (-ms-ime-align:auto) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin max-desktop {
    @media (min-width: 1300px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin super-small-mobile {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin bigTablet {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin mobileLandscape {
    @media (min-width: 400px) and (max-width: 959.98px) and (orientation: landscape) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
        @content;
    }
}

@mixin tabletLandscapeUp {
    @media (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape), (min-width: 800px) {
        @content;
    }
}

@mixin tabletPortrait {
    @media (min-width: 600px) and (max-width: 839.98px) and (orientation: portrait) {
        @content;
    }
}

@mixin tabletLandscape {
    @media (min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape) {
        @content;
    }
}