$semi-white: white;
$yellow-text: #F8B03B;
$cyan-text: #00ACC1;
$cyan-text-material: #00ACC1;
$yellow-text-material: #F8B03B;
$lighten-cyan-text: lighten($cyan-text, 20);
$main-bg-color: #101010;

$transparency: .6;

$header-bg-color: rgba($color: #17181F, $alpha: .85);
$main-bg-body-color: rgba($color: #181820, $alpha: .92);
$main-bg-content-color: rgba($color: #202020, $alpha: .4);
$bg-white-lvl1: rgba($color: #343445, $alpha: .5);
$bg-white-lvl2: rgba($color: #292931, $alpha: $transparency);
$bg-white-lvl2-5: rgba($color: #252527, $alpha: $transparency);
$bg-white-lvl4: rgba($color: #181820, $alpha: $transparency);
$bg-white-lvl3-pure: #202029;
$bg-white-lvl3: rgba($color: #202029, $alpha: .4);
$bg-white-lvl5: rgba($color: #101012, $alpha: $transparency);