$semi-white: #d0d0d0;
$yellow-text: #fab84e;
$cyan-text: #79eed9;
$main-bg-color: #101010;

$bg-white-lvl1: #393939;
$bg-white-lvl2: #292929;
$bg-white-lvl2-5: #252525;
$bg-white-lvl4: #181818;
$bg-white-lvl3: #202020;
$bg-white-lvl5: #101010;