@import '../../../../other/colors';

:host {
    display: block;
    left: 0;
}

.empty {
    float: left;
    padding-left: 5px;
}

.plandate {
    display: block;
    padding: 0 40px;
    @include mobile {
        padding: 0 15px;
    }
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border-color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to($bg-white-lvl1));
    background: -webkit-linear-gradient(top, transparent, $bg-white-lvl1);
    background: -o-linear-gradient(top, transparent, $bg-white-lvl1);
    background: linear-gradient(to bottom, transparent, $bg-white-lvl1);
    @media screen and (min-width: 600px) and (orientation: landscape) {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    @media screen and (min-width: 800px) {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    .graphic {
        -webkit-box-flex: 1;
            -ms-flex: 1 60%;
                flex: 1 60%;
        padding: 30px;
        max-width: 60%;
        padding-bottom: 15px;
        @media (min-width: 400px) and (max-width: 800px) and (orientation: landscape) {
            -ms-flex: 1 40%;
                flex: 1 40%;
            max-width: 40%;
            border-left: 0;
        }
    }
    .simple {
        -webkit-box-flex: 1;
            -ms-flex: 1 40%;
                flex: 1 40%;
        border-left: 3px solid rgba($color: #000, $alpha: .2);
        padding: 30px;
        max-width: 40%;
        padding-right: 20px;
        @media (min-width: 400px) and (max-width: 800px) and (orientation: landscape) {
            -ms-flex: 1 60%;
                flex: 1 60%;
            max-width: 60%;
            border-left: 0;
        }
        .headers, .overview-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            line-height: 40px;
            padding: 0 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            .empty, .werk, .actuak, .previous, .delta {
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
            }
            .actuak, .previous, .delta {
                text-align: right;
            }
        }
        .overview-group {
            -webkit-transition: background .1s ease-in-out;
            -o-transition: background .1s ease-in-out;
            transition: background .1s ease-in-out;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: rgba(255,255,255,.05);
            }
            .empty {
                cursor: pointer;
            }
            .actual {
                color: $lighten-cyan-text;
                font-size: 1.1em;
                font-weight: bold;
            }
            .previous {
                color: $yellow-text;
                font-size: 1.1em;
                font-weight: bold;
            }
            .delta {
                font-size: 1.1em;
                font-weight: bold;
            }
        }
    }
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: $bg-white-lvl3;
    padding: 0 15px;
    @include desktop {
        padding: 0 40px;
    }
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 40px;
    .werk {
        -webkit-box-flex: 1;
            -ms-flex: 1 40%;
                flex: 1 40%;
    }
    .actual, .previous, .delta {
        padding: 12px 10px 12px 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-box-flex: 1;
            -ms-flex: 1 25%;
                flex: 1 25%;
        @include desktop {
            flex: 0 0 150px;
        }
        text-align: right;
    }
    .previous {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }
}

.content-wrapper {
    .group-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 12px 15px;
        @include desktop {
            padding: 12px 40px;
        }
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-color: $bg-white-lvl1;
        .werk {
            flex: 1 40%;
        }
        .actual, .previous, .delta {
            flex: 1 25%;
            text-align: right;
            padding-right: 10px;
            box-sizing: border-box;
            @include desktop {
                flex: 0 0 150px;
            }
        }
        .actual {
            color: $lighten-cyan-text;
        }
        .previous {
            color: $yellow-text;
        }
    }
    .row {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer;
        &:nth-child(odd) {
            background-color: $bg-white-lvl4;
        }
        &:nth-child(even) {
            background-color: $bg-white-lvl3;
        }
        border-bottom: 1px solid transparent;
        -webkit-transition: border-bottom .15s ease-in-out;
        -o-transition: border-bottom .15s ease-in-out;
        transition: border-bottom .15s ease-in-out;
        &:hover {
            border-bottom-color: $yellow-text;
        }
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 12px 15px;
        @include desktop {
            padding: 12px 40px;
        }
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        &:hover .werk {
            &:after {
                left: 10px;
            }
            padding-left: 30px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .werk {
            -webkit-box-flex: 1;
                -ms-flex: 1 40%;
                    flex: 1 40%;
            padding-left: 20px;
            position: relative;
            -webkit-transition: padding-left .15s ease-in-out;
            -o-transition: padding-left .15s ease-in-out;
            transition: padding-left .15s ease-in-out;
            &:after {
                -webkit-transition: left .15s ease-in-out;
                -o-transition: left .15s ease-in-out;
                transition: left .15s ease-in-out;
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                top: 2px;
                left: 0;
                margin: auto;
                display: block;
                background-image: url(../../../../../assets/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .actual, .previous, .delta {
            -webkit-box-flex: 1;
                -ms-flex: 1 25%;
                    flex: 1 25%;
            text-align: right;
            @include desktop {
                flex: 0 0 150px;
            }
            padding-right: 10px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .previous {
            color: $yellow-text;
        }
        .actual {
            color: $lighten-cyan-text;
        }
    }
}

::ng-deep .mat-form-field {
    max-width: 140px;
}

::ng-deep .mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

::ng-deep .mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}