
.loading {
    position: fixed;
    height: 70px;
    width: 70px;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../../../assets/loader.svg);
    background-size: contain;
    background-repeat: no-repeat;
}