
.loading {
    position: fixed;
    height: 70px;
    width: 70px;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../../../assets/loader.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    z-index: 99;
    &.show {
        display: block;
    }
}

.loading svg {
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}