<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Config
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sponsor
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Credits
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Thank you
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Software
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Licenses
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technical Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Changelog
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
</mat-accordion>