
@import '../../../../other/colors';

:host {
    display: block;
    padding: 30px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    touch-action: pan-y !important;
}

::ng-deep .mat-expansion-panel {
    background-color: transparent;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-header-title, ::ng-deep .mat-expansion-indicator:after {
    color: $yellow-text;
}

::ng-deep .mat-expansion-panel-content {
    color: white;
}

.software {
    ul li {
        list-style-type: none;
        line-height: 25px;
        a {
            text-decoration: none;
            color: $lighten-cyan-text;
            position: relative;
            &:hover:after {
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                right: 0;
                margin: auto;
                height: 2px;
                -webkit-transition: width .2s ease-in-out;
                -o-transition: width .2s ease-in-out;
                transition: width .2s ease-in-out;
                width: 0;
                background-color: $lighten-cyan-text
            }
        }
    }
}

p a, p span {
    color: $lighten-cyan-text;
    text-decoration: none;
}

p {
    line-height: 25px;
}

::ng-deep .segment-key {
    color: $yellow-text !important
}

::ng-deep .segment-value {
    color: $lighten-cyan-text !important;
    margin-left: 10px !important;
}

.changelog {
    line-height: 25px;
    padding-left: 15px;
    & > ul > li {
        color: $yellow-text;
        list-style-type: none;
        & > ul {
            padding-left: 20px;
        }
        & > ul > li {
            color: $semi-white;
            line-height: 30px;
            list-style-type: none;
            &::before {
                content: "•";
                margin-right: 10px;
                color: $semi-white;
              }
        }
    }

}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-value-text {
    color: $semi-white;
}

::ng-deep .mat-select-arrow {
    color: $semi-white !important;
    opacity: .7;
}

::ng-deep .mat-select-content {
    background-color: $bg-white-lvl2;
}

::ng-deep .mat-option:not(.mat-selected) {
    color: $semi-white;
}

::ng-deep .mat-option.mat-selected {
    color: $yellow-text !important;
}

::ng-deep .mat-form-field {
    margin-left: 20px;
}

::ng-deep .reload-translations {
    background-color: $yellow-text;
    color: rgba(0,0,0,.95);
    padding: 0 10px !important;
    line-height: 27px !important;
    margin: 10px 0 15px !important;
}

.sw_status {
    margin-left: 10px;
    position: relative;
    &:before {
        content: "";
        display: inline-block;
        height: 9px;
        width: 9px;
        background-color: lighten(#C62828, 5);
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        top: 0;
    }
    &.enabled:before {
        background-color: #43a047;
    }
}