<mat-accordion [multi]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Config
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sponsor
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Credits
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Thank you
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Software
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="software">
      <ul>
        <li>IBM Cognos Analytics 11: <a href="#" target="_blank">Consumer License</a></li>
        <li>HammerJS v2.0.8: <a href="https://github.com/hammerjs/hammer.js/blob/master/LICENSE.md" target="_blank">MIT License</a></li>
        <li>MomentJS v2.22.2: <a href="https://github.com/moment/moment/blob/develop/LICENSE" target="_blank">MIT License</a></li>
      </ul>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Licenses
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Technical Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    Version: {{ config.config.version }}
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Changelog
      </mat-panel-title>
    </mat-expansion-panel-header>
    dsdfkjgndfkjnjgdjdfjjdfkj
  </mat-expansion-panel>
</mat-accordion>