<div class="empty"></div>
<ng-container [ngSwitch]="level">
    <!-- Level 1 Headers -->
    <ng-container *ngSwitchCase="1">
        <!-- Mobile -->
        <ng-container *ngIf="_data.mobile$ | async; else desktopHeaders">
            <div class="report-date">
                <div class="upper">{{ days$.latestDay | formatLatestDay }}</div>
                <div class="lower"></div>
            </div>
            <div class="report-date">
                <div class="upper">Prev.</div>
                <div class="lower">Year</div>
            </div>
        </ng-container>
        <!-- Desktop -->
        <ng-template #desktopHeaders>
            <div class="report-date">{{ days$.latestDay | formatLatestDay }}</div>
            <div class="report-date">{{ 'prev_year' | translate }}</div>
        </ng-template>
    </ng-container>
    <!-- Level 2 Headers -->
    <ng-container *ngSwitchCase="2">
        <!-- Mobile -->
        <ng-container *ngIf="_data.mobile$ | async; else desktopHeaders">
            <div class="report-date">
                <div class="upper">Last</div>
                <div class="lower">12 Month</div>
            </div>
            <div class="report-date">
                <div class="upper">Prev.</div>
                <div class="lower">Year</div>
            </div>
        </ng-container>
        <!-- Desktop -->
        <ng-template #desktopHeaders>
            <div class="report-date">{{ 'last_x_month' | translate }}</div>
            <div class="report-date">{{ 'prev_year' | translate }}</div>
        </ng-template>
    </ng-container>
    <!-- Level 3 Headers -->
    <ng-container *ngSwitchCase="3">
        <!-- Mobile -->
        <ng-container *ngIf="_data.mobile$ | async; else desktopHeaders">
            <ng-container *ngIf="(currentMonthDate$ | async).substring(0,7) === currentMonth; then today else last12MonthMobile"></ng-container>
            <div class="report-date">
                <div class="upper">Prev.</div>
                <div class="lower">Year</div>
            </div>
        </ng-container>
        <!-- Desktop -->
        <ng-template #desktopHeaders>
            <ng-container *ngIf="(currentMonthDate$ | async).substring(0,7) === currentMonth; then today else last12MonthDesktop"></ng-container>
            <div class="report-date">{{ 'prev_year' | translate }}</div>
        </ng-template>
    </ng-container>
    <!-- Level 4 Headers -->
    <ng-container *ngSwitchCase="4">
        <!-- Mobile -->
        <ng-container *ngIf="_data.mobile$ | async; else desktopHeaders">
            <ng-container *ngIf="(currentMonthDate$ | async).substring(0,7) === currentMonth; then today else last12MonthMobile"></ng-container>
            <div class="report-date">
                <div class="upper">Prev.</div>
                <div class="lower">Year</div>
            </div>
        </ng-container>
        <!-- Desktop -->
        <ng-template #desktopHeaders>
            <ng-container *ngIf="(currentMonthDate$ | async).substring(0,7) === currentMonth; then today else last12MonthDesktop"></ng-container>
            <div class="report-date">{{ 'prev_year' | translate }}</div>
        </ng-template>
    </ng-container>
</ng-container>
<ng-template #today>
    <div class="report-date">
        <div class="upper">{{ currentMonthDate$ | async | formatLatestDay }}</div>
    </div>
</ng-template>
<ng-template #last12MonthMobile>
    <div class="report-date">
        <div class="upper">Last</div>
        <div class="lower">12 Month</div>
    </div>
</ng-template>
<ng-template #last12MonthDesktop>
    <div class="report-date">
        <div class="upper">{{ 'last_x_month' | translate }}</div>
    </div>
</ng-template>
<div class="glyph">&Delta;</div>