<div class="wrapper" [@list]="zoneKeys.length">
  <div class="zone" *ngFor="let zoneKey of zoneKeys" [style.width.%]="barsWidth">
    <div class="bars">
      <div style="position: relative; height: 100%;">
        <div [ngClass]="{zero: !ready}" class="actual" [style.height.%]="zones[zoneKey].percentActual"></div>
        <div [ngClass]="{zero: !ready}" class="previous" [style.height.%]="zones[zoneKey].percentPrevious"></div>
      </div>
    </div>
    <div class="title">{{ zones[zoneKey].title }}</div>
  </div>
</div>