<div class="wrapper" [@list]="zoneKeys.length">
  <div class="zone" (click)="goZone(zoneKey)" *ngFor="let zoneKey of zoneKeys" [style.width.%]="barsWidth">
    <div class="bars">
      <div style="position: relative; height: 100%;">
        <div [ngClass]="{zero: !ready}" class="actual" [style.height.%]="zones[zoneKey].percentActual">
          <div class="value" *ngIf="!(_data.mobile$ | async)">{{ (_data.sumByIndex(rows[zoneKey], 12) | toNumber) }}</div>
        </div>
        <div [ngClass]="{zero: !ready}" class="previous" [style.height.%]="zones[zoneKey].percentPrevious">
          <div class="value" *ngIf="!(_data.mobile$ | async)">{{ (_data.sumByIndex(rows[zoneKey], 13) | toNumber) }}</div>
        </div>
      </div>
    </div>
    <div class="title">{{ zones[zoneKey].title }}</div>
  </div>
</div>