@import '../../../../other/colors';

:host {
    display: block;
    left: 0;
}

.data-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0 15px 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    .empty {
        padding-left: 5px;
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }
    .report-date {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
        text-align: right;
        font-size: 12px;
        letter-spacing: 1px;
    }
}

.overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    border-color: black;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to($bg-white-lvl1));
    background: -webkit-linear-gradient(top, transparent, $bg-white-lvl1);
    background: -o-linear-gradient(top, transparent, $bg-white-lvl1);
    background: linear-gradient(to bottom, transparent, $bg-white-lvl1);
    @media screen and (min-width: 600px) and (orientation: landscape) {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    @media screen and (min-width: 800px) {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    .graphic {
        -webkit-box-flex: 1;
            -ms-flex: 1 60%;
                flex: 1 60%;
        padding: 30px;
        max-width: 60%;
        padding-bottom: 15px;
        @media (min-width: 400px) and (max-width: 800px) and (orientation: landscape) {
            -ms-flex: 1 45%;
                flex: 1 45%;
            max-width: 45%;
            padding-bottom: 30px;
        }
    }
    .simple {
        -webkit-box-flex: 1;
            -ms-flex: 1 40%;
                flex: 1 40%;
        border-left: 3px solid rgba($color: #000, $alpha: .2);
        padding: 30px;
        max-width: 40%;
        @media (min-width: 400px) and (max-width: 800px) and (orientation: landscape) {
            -ms-flex: 1 55%;
                flex: 1 55%;
            max-width: 55%;
            border-left: 0;
        }
        .headers, .overview-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            line-height: 40px;
            padding: 0 15px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            .empty, .customer, .plan, .reserve {
                -webkit-box-flex: 1;
                    -ms-flex: 1;
                        flex: 1;
            }
            .customer, .plan, .reserve {
                text-align: right;
            }
        }
        .overview-group {
            -webkit-transition: background .1s ease-in-out;
            -o-transition: background .1s ease-in-out;
            transition: background .1s ease-in-out;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: rgba(255,255,255,.05);
            }
            .empty {
                cursor: pointer;
            }
            .customer {
                color: $lighten-cyan-text;
            }
        }
    }
}

.zone {
    display: block;
    position: relative;
    .zone-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 15px 12px 15px;
        position: relative;
        -webkit-transition: border-bottom .15s ease-in-out;
        -o-transition: border-bottom .15s ease-in-out;
        transition: border-bottom .15s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $yellow-text;
        }
        background-color: $bg-white-lvl1;
        cursor: pointer;
        .title {
            text-transform: uppercase;
            -webkit-box-flex: 1;
                -ms-flex: 1 35%;
                    flex: 1 35%;
            letter-spacing: 1px;
        }
        .customer, .plan, .total {
            padding-right: 10px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .customer, .plan, .total, {
            -webkit-box-flex: 1;
                -ms-flex: 1 20%;
                    flex: 1 20%;
            text-align: right;
            font-size: 15px;
            div {
                margin-top: 10px;
            }
        }
        .reserve {
            -webkit-box-flex: 1;
                -ms-flex: 1 10%;
                    flex: 1 10%;
            text-align: right;
            div {
                margin-top: 10px;
            }
        }
        .customer {
            color: $lighten-cyan-text;
        }
        .total {
            color: $yellow-text;
        }
    }
    .plant {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 12px 15px 12px 15px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        -webkit-transition: border-bottom .15s ease-in-out;
        -o-transition: border-bottom .15s ease-in-out;
        transition: border-bottom .15s ease-in-out;
        &:hover {
            border-bottom-color: $yellow-text;
        }
        &:nth-child(even) {
            background-color: $bg-white-lvl3;
        }
        &:nth-child(odd) {
            background-color: $bg-white-lvl4;
        }
        &:hover .title {
            &:after {
                left: 10px;
            }
            padding-left: 30px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .title {
            -webkit-box-flex: 1;
                -ms-flex: 1 35%;
                    flex: 1 35%;
            padding-left: 20px;
            position: relative;
            -webkit-transition: padding-left .15s ease-in-out;
            -o-transition: padding-left .15s ease-in-out;
            transition: padding-left .15s ease-in-out;
            &:after {
                -webkit-transition: left .15s ease-in-out;
                -o-transition: left .15s ease-in-out;
                transition: left .15s ease-in-out;
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                top: 2px;
                left: 0;
                margin: auto;
                display: block;
                background-image: url(../../../../../assets/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .customer, .plan, .total {
            padding-right: 10px;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
        }
        .customer, .plan, .total, {
            -webkit-box-flex: 1;
                -ms-flex: 1 20%;
                    flex: 1 20%;
            text-align: right;
            div {
                margin-top: 10px;
            }
        }
        .reserve {
            -webkit-box-flex: 1;
                -ms-flex: 1 10%;
                    flex: 1 10%;
            text-align: right;
            div {
                margin-top: 10px;
            }
        }
        .customer {
            color: $lighten-cyan-text;
        }
        .total {
            color: $yellow-text;
        }
    }
}

.wrapper header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 35px;
    background-color: $bg-white-lvl3;
    padding: 0 15px 0 15px;
    line-height: 35px;
    .title {
        -webkit-box-flex: 1;
            -ms-flex: 1 35%;
                flex: 1 35%;
        position: relative;
        ::ng-deep .mat-icon {
            margin-right: 10px;
            font-size: 22px;
        }
    }
    .reserve {
        -webkit-box-flex: 1;
            -ms-flex: 1 10%;
                flex: 1 10%;
    }
    .customer, .plan, .total, .reserve {
        text-align: right;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }
    .customer, .plan, .total {
        -webkit-box-flex: 1;
            -ms-flex: 1 20%;
                flex: 1 20%;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

::ng-deep .mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

::ng-deep .mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-value-text {
    color: $semi-white;
}

::ng-deep .mat-select-arrow {
    color: $semi-white !important;
    opacity: .7;
}

::ng-deep .mat-select-content {
    background-color: $bg-white-lvl2;
}

::ng-deep .mat-option:not(.mat-selected) {
    color: $semi-white;
}

::ng-deep .mat-option.mat-selected {
    color: $yellow-text !important;
}