@import 'colors';

:host {
    display: block;
    left: 0;
}

.empty {
    float: left;
    padding-left: 5px;
}

.plandate {
    display: block;
    padding: 0 40px;
    @include mobile {
        padding: 0 15px;
    }
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

.overview {
    display: flex;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all .6s ease-in-out;
    border-color: black;
    background: linear-gradient(to bottom, rgba(255,255,255,0), $bg-white-lvl1);
    @media screen and (min-width: 600px) and (orientation: landscape) {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    @include desktop {
        max-height: 1000px;
        min-height: 240px;
        overflow: auto;
    }
    .graphic {
        flex: 1 60%;
        padding: 30px;
        max-width: 60%;
        padding-bottom: 15px;
        @include mobileLandscape {
            flex: 1 40%;
            max-width: 40%;
            border-left: 0;
        }
    }
    .simple {
        flex: 1 40%;
        border-left: 3px solid rgba($color: #000, $alpha: .35);
        padding: 30px;
        max-width: 40%;
        padding-right: 20px;
        @include mobileLandscape {
            flex: 1 60%;
            max-width: 60%;
            border-left: 0;
        }
        .headers, .overview-group {
            display: flex;
            width: 100%;
            line-height: 25px;
            padding: 10px 15px;
            align-items: center;
            box-sizing: border-box;
            .empty, .werk {
                flex: 1;
            }
            .actual, .previous, .delta {
                flex: 0 85px;
            }
            .actual, .previous, .delta {
                text-align: right;
            }
        }
        .overview-group {
            transition: background .1s ease-in-out;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: rgba(255,255,255,.05);
            }
            .empty {
                cursor: pointer;
            }
            .actual, .previous, .delta {
                @include totalStyle;
            }
            .actual {
                color: $lighten-cyan-text;
            }
            .previous {
                color: $yellow-text;
            }
        }
    }
}

header {
    display: flex;
    background-color: $bg-white-lvl3;
    padding: 0 15px;
    @include desktop {
        padding: 0 40px;
    }
    box-sizing: border-box;
    height: 40px;
    .werk {
        flex: 1 40%;
    }
    .actual, .previous, .delta {
        padding: 12px 10px 12px 0;
        box-sizing: border-box;
        flex: 1 25%;
        @include desktop {
            flex: 0 0 150px;
        }
        text-align: right;
    }
    .previous {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.content-wrapper {
    .group-header {
        display: flex;
        width: 100%;
        padding: 12px 15px;
        @include desktop {
            padding: 12px 40px;
        }
        box-sizing: border-box;
        background-color: $bg-white-lvl1;
        .werk {
            flex: 1 40%;
        }
        .actual, .previous, .delta {
            flex: 1 25%;
            text-align: right;
            padding-right: 10px;
            box-sizing: border-box;
            @include totalStyle;
            @include desktop {
                flex: 0 0 150px;
            }
        }
        .actual {
            color: $lighten-cyan-text;
        }
        .previous {
            color: $yellow-text;
        }
    }
    .row {
        user-select: none;
        cursor: pointer;
        &:nth-child(odd) {
            background-color: $bg-white-lvl4;
        }
        &:nth-child(even) {
            background-color: $bg-white-lvl3;
        }
        border-bottom: 1px solid transparent;
        @include rowHoverEffect;
        display: flex;
        width: 100%;
        padding: 12px 15px;
        @include desktop {
            padding: 12px 40px;
        }
        box-sizing: border-box;
        &:hover .werk {
            &:after {
                left: 10px;
            }
            padding-left: 30px;
            box-sizing: border-box;
        }
        .werk {
            flex: 1 40%;
            padding-left: 20px;
            position: relative;
            transition: padding-left .15s ease-in-out;
            &:after {
                transition: left .15s ease-in-out;
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                top: 2px;
                left: 0;
                margin: auto;
                display: block;
                background-image: url(^assets/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .actual, .previous, .delta {
            flex: 1 25%;
            text-align: right;
            @include desktop {
                flex: 0 0 150px;
            }
            padding-right: 10px;
            box-sizing: border-box;
            @include detailStyle;
        }
        .previous {
            color: $yellow-text;
        }
        .actual {
            color: $lighten-cyan-text;
        }
    }
}

::ng-deep .mat-form-field {
    max-width: 140px;
}

::ng-deep .mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

::ng-deep .mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

@include lightTheme {
    :host::ng-deep {
        background-color: white;
        .overview {
            background: linear-gradient(to bottom, white, $light-grey2);
            .simple {
                border-left-color: transparent;
                .actual {
                    color: $petrol !important;
                }
                .previous {
                    color: $orange !important;
                }
            }
            .data-header {
                background-color: white;
            }
        }
        header {
            background-color: $light-grey2 !important;
            .title {
                color: $light-grey4;
                font-weight: bold;
            }
            .actual {
                color: $petrol;
            }
            .previous {
                color: $orange;
            }
            border-bottom: 2px solid white;
        }
        .group-header {
            background-color: $light-grey2 !important;
            color: $light-grey3;
            font-weight: bold;
            .actual {
                color: $petrol !important;
            }
            .previous {
                color: $orange !important;
            }
        }
        .row {
            background-color: white !important;
            border-bottom: 1px solid $light-grey2 !important;
            .werk {
                color: $light-grey4 !important;
                font-weight: bold;
            }
            .delta {
                color: $text-color !important;
                font-weight: bold;
            }
            .actual {
                color: $petrol !important;
                font-weight: bold;
            }
            .previous {
                color: $orange !important;
                font-weight: bold;
            }
        }
    }
}