@import 'colors';

:host {
    display: flex;
    height: 70px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    background: $header-bg-color 40%;
    @include new-dark-theme-host {
        background: $new-dark-header-bg-color;
    }
    transform: translate3d(0,0,0);
    // border-bottom: 1px solid $header-border-color;
    @include light-theme-host {
        background: $header-bg-color-light;
        box-shadow: 0 0 10px grey;
        ul li,
        .mat-slide-toggle {
            font-weight: bold;
            color: $light-grey4;
        }
        ul li.active:after,
        ul li:hover:after {
            height: 3px;
        }
        ul li::after {
            bottom: 0;
            background-color: $orange;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

.logo {
    display: block;
    height: inherit;
    position: relative;
    width: 300px;
    flex: initial;
    outline: 0;
    @include desktop {
        margin-left: 30px;
    }
    .meta-title {
        display: none;
        height: 50px;
        margin-top: 17px;
        .app-title {
            // letter-spacing: 0.35em;
            line-height: 22px;
            @include light-theme {
                color: $light-grey4;
            }
        }
        .app-confidential {
            font-size: 9px;
            color: red;
            letter-spacing: 1px;
            margin: 5px 0 0 3px;
            @include light-theme {
                font-weight: bold;
                color: red;
            }
        }
        @include desktop {
            display: inline-block;
        }
    }
    font-size: 33px;
    cursor: pointer;
    margin-left: 20px;
    padding-left: 60px;
    @include desktop {
        padding-left: 70px;
    }
    transition: margin-left .3s ease-in-out;
    .outer, .middle, .inter {
        @supports (-webkit-overflow-scrolling: touch) {
            animation: none !important;
        }
    }
    &.running {
        .outer, .middle, .inter {
            animation-play-state: running;
        }
    }
    .outer {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 50px;
        background-image: url(^assets/loader_circle_outside.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include light-theme {
            background-image: url(^assets/loader_circle_outside_light.svg);
        }
    }
    .middle {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 50px;
        background-image: url(^assets/loader_circle_middle.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-direction: reverse;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include light-theme {
            background-image: url(^assets/loader_circle_middle_light.svg);
        }
    }
    .inter {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 50px;
        width: 37px;
        background-image: url(^assets/loader_circle_inside.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include light-theme {
            background-image: url(^assets/loader_circle_inside_light.svg);
        }
    }
}

.links {
    flex: initial;
    display: none;
    height: inherit;
    margin-right: 40px;
    justify-content: flex-end;
    @include desktop {
        display: flex;
    }
    li {
        flex: initial;
        list-style-type: none;
        height: inherit;
        line-height: 70px;
        outline: 0;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        &:hover:after, &.active:after {
            height: 2px;
            width: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 0;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            transition: width .2s ease-in-out;
            background-color: $yellow-text;
        }
    }
}

.menu-icon {
    display: block;
    @include desktop {
        display: none;
    }
    height: 70px;
    width: 70px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    &.active .icon .wrapper {
        .top {
            top: 50%;
            transform: rotate(45deg);
            background-color: $yellow-text;
        }
        .middle {
            left: 100%;
            opacity: 0;
            background-color: $yellow-text;
        }
        .bottom {
            bottom: 50%;
            transform: rotate(-45deg);
            background-color: $yellow-text;
        }
    }
    .icon {
        position: relative;
        width: 100%;
        height: 100%;
        .wrapper {
            position: absolute;
            width: 40%;
            height: 30%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            .top {
                position: absolute;
                top: 0;
                transition: all .15s ease-in-out;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #d0d0d0;
            }
            .middle {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                height: 1px;
                transition: all .15s ease-in-out;
                width: 100%;
                background-color: #d0d0d0;
            }
            .bottom {
                position: absolute;
                bottom: 0;
                transition: all .15s ease-in-out;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #d0d0d0;
            }
        }
    }
}

.page-title {
    @include mobile {
        display: block;
    }
    display: none;
    position: fixed;
    margin: auto;
    width: 150px;
    left: 120px;
    right: 0;
    top: 28px;
    text-transform: uppercase;
}

:host::ng-deep .mat-slide-toggle {
    height: 70px;
    margin-left: 15px;
    .mat-slide-toggle-content {
        font-size: 13px;
        font-family: "CorpoS";
    }
}

:host::ng-deep app-theme-switcher {
    margin-left: 20px;
}