@import '../../other/colors';

:host {
    display: flex;
    height: 70px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    background: $header-bg-color 40%;
    transform: translate3d(0,0,0);
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.logo {
    display: block;
    height: inherit;
    position: relative;
    width: 300px;
    flex: initial;
    outline: 0;
    line-height: 70px;
    font-size: 45px;
    cursor: pointer;
    margin-left: 15px;
    padding-left: 70px;
    &.running {
        .outer, .middle, .inter {
            animation-play-state: running;
        }
    }
    .outer {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 60px;
        width: 60px;
        background-image: url(assets/loader_circle_outside.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .middle {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 60px;
        width: 60px;
        background-image: url(assets/loader_circle_middle.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-direction: reverse;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    .inter {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 60px;
        width: 60px;
        background-image: url(assets/loader_circle_inside.svg);
        background-size: contain;
        background-repeat: no-repeat;
        animation-play-state: paused;
        animation-name: rotate;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.links {
    flex: initial;
    display: none;
    height: inherit;
    justify-content: flex-end;
    @media (min-width: 800px) {
        display: flex;
    }
    li {
        flex: initial;
        list-style-type: none;
        height: inherit;
        line-height: 70px;
        outline: 0;
        padding: 0 15px;
        cursor: pointer;
        position: relative;
        &:hover:after, &.active:after {
            height: 3px;
            width: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 0;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .2s ease-in-out;
            background-color: $yellow-text;
        }
    }
}

.menu-icon {
    display: block;
    @media (min-width: 800px) {
        display: none;
    }
    height: 70px;
    width: 70px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    &.active .icon .wrapper {
        .top {
            top: 50%;
            transform: rotate(45deg);
            background-color: $yellow-text;
        }
        .middle {
            left: 100%;
            opacity: 0;
            background-color: $yellow-text;
        }
        .bottom {
            bottom: 50%;
            transform: rotate(-45deg);
            background-color: $yellow-text;
        }
    }
    .icon {
        position: relative;
        width: 100%;
        height: 100%;
        .wrapper {
            position: absolute;
            width: 40%;
            height: 30%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            .top {
                position: absolute;
                top: 0;
                transition: all .15s ease-in-out;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #d0d0d0;
            }
            .middle {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                height: 1px;
                transition: all .15s ease-in-out;
                width: 100%;
                background-color: #d0d0d0;
            }
            .bottom {
                position: absolute;
                bottom: 0;
                transition: all .15s ease-in-out;
                left: 0;
                height: 1px;
                width: 100%;
                background-color: #d0d0d0;
            }
        }
    }
}