<!-- Binding for params -->
<ng-container *ngLet="params$ | async as params">
  <!-- Binding for rows -->
  <ng-container *ngLet="rows$ | async as rows">
    <!-- Overview -->
    <div class="overview" *ngLet="plantOrZoneRows$ | async as plantOrZoneRows">
      <!-- Headers -->
      <order-backlog-header></order-backlog-header>
      <!-- Header Row of currented select plant / zone -->
      <div class="header-row arrow zone" (click)="_obRouter.goToMainView()">
        <div class="title">
          <span matTooltipClass="after" matTooltipPosition="after" matTooltip="Return to main view">
            {{ plantOrZoneRows | groupOrPlantName:params.plant }}
          </span>
        </div>
        <ng-container *ngLet="plantOrZoneRows | filterYear:'current' | sumQuantity as currentValue">
          <ng-container *ngLet="plantOrZoneRows | filterYear:'previous' | sumQuantity as previousValue">
            <div class="actual" [innerHTML]="currentValue | toNumber | async"></div>
            <div class="previous" [innerHTML]="previousValue | toNumber | async"></div>
            <div class="delta grey" [innerHTML]="previousValue | difference:currentValue | async"></div>
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngLet="params.month | previousMonth:(plantOrZoneRows | distinctMonths | keyvalue) as previousMonthRows">
        <!-- Header Row of current selected month -->
        <div class="header-row arrow zone" (click)="_obRouter.goToPlantZoneView(_ac)">
          <div class="title">
            <span matTooltipClass="after" matTooltipPosition="after" matTooltip="Go back">
              {{ rows[0]['Datum Tagesstand (konv.)'] | monthFormat }}
            </span>
          </div>
          <ng-container *ngLet="rows | sumQuantity as currentValue">
            <ng-container *ngLet="previousMonthRows | sumQuantity as previousValue">
              <div class="actual" [innerHTML]="currentValue | toNumber | async"></div>
              <div class="previous" [innerHTML]="previousValue | toNumber | async"></div>
              <div class="delta grey" [innerHTML]="previousValue | difference:currentValue | async"></div>
            </ng-container>
          </ng-container>
        </div>
        <!-- Content Rows -->
        <div class="title-header">
          <div class="title">REGIONS</div>
        </div>
        <!-- Region rows -->
        <ng-container *ngLet="previousMonthRows | distinctItems:'region' as previousRegions">
          <!-- Iterate over each region -->
          <div class="lvl2-row" (click)="_obRouter.goToProductRegionView(_ac, null, null, null, 'region', region.key)" *ngFor="let region of rows | distinctItems:'region' | keyvalue">
            <div class="title">{{ region.key }}</div>
            <!-- Bind current value -->
            <ng-container *ngLet="region.value | sumQuantity as currentValue">
              <div class="actual cyan" [innerHTML]="currentValue | toNumber | async"></div>
              <!-- Bind and check previous value, it can be not found in some cases! -->
              <ng-container *ngIf="previousRegions[region.key] as previousRegion; else dummyPrevious">
                <ng-container *ngLet="previousRegion | sumQuantity as previousValue">
                  <div class="previous orange" [innerHTML]="previousValue | toNumber | async"></div>
                  <div class="delta grey" [innerHTML]="previousValue | difference:currentValue | async"></div>
                </ng-container>
              </ng-container>
            </ng-container>
            <!-- Template for when a region title is not found in a previous month -->
            <ng-template #dummyPrevious>
              <div class="previous orange">-</div>
              <div class="delta grey">-</div>
            </ng-template>
          </div>
        </ng-container>
        <div class="title-header">
          <div class="title">PRODUCTS</div>
        </div>
        <!-- Product rows -->
        <ng-container *ngLet="previousMonthRows | distinctItems:'product' as previousProducts">
          <!-- Iterate over each product -->
          <div class="lvl2-row" (click)="_obRouter.goToProductRegionView(_ac, null, null, null, 'product', product.key)" *ngFor="let product of rows | distinctItems:'product' | keyvalue">
            <div class="title">{{ product.key }}</div>
            <!-- Bind current value -->
            <ng-container *ngLet="product.value | sumQuantity as currentValue">
              <div class="actual cyan" [innerHTML]="currentValue | toNumber | async"></div>
              <!-- Bind and check previous value, it can be not found in some cases! -->
              <ng-container *ngIf="previousProducts[product.key] as previousProduct; else dummyPrevious">
                <ng-container *ngLet="previousProduct | sumQuantity as previousValue">
                  <div class="previous orange" [innerHTML]="previousValue | toNumber | async"></div>
                  <div class="delta grey" [innerHTML]="previousValue | difference:currentValue | async"></div>
                </ng-container>
              </ng-container>
              <!-- Template for when a product title is not found in a previous month -->
              <ng-template #dummyPrevious>
                <div class="previous orange">-</div>
                <div class="delta grey">-</div>
              </ng-template>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</ng-container>