<!-- Binding for params -->
<ng-container *ngLet="params$ | async as params">
  <!-- Binding for rows -->
  <ng-container *ngLet="rows$ | async as rows">
    <!-- Bindings for actual and previous date ranges -->
    <ng-container *ngLet="rows | filterYear:'current' as currentYearRows">
      <ng-container *ngLet="rows | filterYear:'previous' as previousYearRows">
        <!-- Graphic Comparison -->
        <order-backlog-graphic-comparison [current]="currentYearRows" [previous]="previousYearRows"></order-backlog-graphic-comparison>
        <!-- Overview -->
        <div class="overview">
          <!-- Headers -->
          <order-backlog-header></order-backlog-header>
          <!-- Header Row of current select plant / zone -->
          <div class="header-row arrow zone" (click)="_obRouter.goToMainView()">
            <div class="title">
              <span matTooltipClass="after" matTooltipPosition="after" matTooltip="Return to main view">
                {{ rows | groupOrPlantName:params.plant }}
              </span>
            </div>
            <ng-container *ngLet="rows | filterYear:'current' | sumQuantity as currentValue">
              <ng-container *ngLet="rows | filterYear:'previous' | sumQuantity as previousValue">
                <div class="actual" [innerHTML]="currentValue | toNumber | async"></div>
                <div class="previous" [innerHTML]="previousValue | toNumber | async"></div>
                <div class="delta" [innerHTML]="previousValue | difference:currentValue | async"></div>
              </ng-container>
            </ng-container>
          </div>
          <!-- Content Rows -->
          <ng-container *ngLet="rows | filterYear:'current' as currentYearRows">
            <ng-container *ngLet="rows | filterYear:'previous' | distinctMonths | keyvalue as previousYearMonths">
              <ng-container *ngFor="let year of currentYearRows | distinctYears">
                <!-- Year Row -->
                <div class="title-header">
                  <div class="title">{{ year.key }}</div>
                </div>
                <!-- Month Rows -->
                <div class="lvl2-row" (click)="_obRouter.goToMonthView(_ac, null, null, month.key)" *ngFor="let month of year.value | distinctMonths | keyvalue | reverse">
                  <div class="title">{{ month.key | monthFormat }}</div>
                  <ng-container *ngLet="month.value | sumQuantity as currentValue">
                    <ng-container *ngLet="month.key | previousMonth:previousYearMonths | sumQuantity as previousValue">
                      <div class="actual cyan" [innerHTML]="currentValue | toNumber | async"></div>
                      <div class="previous orange" [innerHTML]="previousValue | toNumber | async"></div>
                      <div class="delta grey" [innerHTML]="previousValue | difference:currentValue | async"></div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>