<!-- Header Info -->
<div class="data-header">
  <div class="empty"></div>
  <ng-container *ngIf="mobile$ | async; else desktopHeaders">
    <div class="report-date">Last 12 Mo.</div>
    <div class="glyph">Prev. 12 Mo.</div>
  </ng-container>
  <ng-template #desktopHeaders>
    <div class="report-date">Last 12 Month</div>
    <div class="glyph">Prev. 12 Month</div>
  </ng-template>
  <div class="glyph">&Delta;</div>
</div>
<!-- Quick Overview -->
<ng-container *ngLet="zones$ | keyvalue | startWith:[] | async as zones">
  <div class="overview">
    <div class="graphic">
      <!-- Graphic -->
      <order-backlog-graphic [zones]="zones"></order-backlog-graphic>
    </div>
    <!-- Overview of plant groups -->
    <div class="simple">
      <div (click)="_obRouter.goToPlantZoneView(_ac, 'zone', zone.key)" class="overview-group" *ngFor="let zone of zones">
        <div class="empty">{{ zone.value | groupOrPlantName:'group' }}</div>
        <!-- Map current value -->
        <ng-container *ngLet="zone.value | filterYear:'current' | sumQuantity as currentValue">
          <!-- Map previous value -->
          <ng-container *ngLet="zone.value | filterYear:'previous' | sumQuantity as previousValue">
            <div class="actual">{{ currentValue | toNumber }}</div>
            <div class="previous">{{ previousValue | toNumber }}</div>
            <div class="delta">{{ previousValue | difference:currentValue }}</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Zones Content -->
  <div class="wrapper" [@list]="zones.length">
    <!-- Iterate over each zone -->
    <div class="zone" *ngFor="let zone of zones">
      <div class="zone-header" (click)="_obRouter.goToPlantZoneView(_ac, 'zone', zone.key)">
        <!-- FIXME: Dynamic language fields -->
        <div class="title">{{ zone.value[0]['Plant Group (english)'] }}</div>
        <!-- Map current value -->
        <ng-container *ngLet="zone.value | filterYear:'current' | sumQuantity as currentValue">
          <!-- Map previous value -->
          <ng-container *ngLet="zone.value | filterYear:'previous' | sumQuantity as previousValue">
            <div matTooltipPosition="after" matTooltipClass="after" [matTooltip]="currentValue | toNumber" class="actual">{{ currentValue | toNumber }}</div>
            <div matTooltipPosition="after" matTooltipClass="after" [matTooltip]="previousValue | toNumber" class="previous">{{ previousValue | toNumber }}</div>
            <div class="delta">{{ previousValue | difference:currentValue }}</div>
          </ng-container>
        </ng-container>
      </div>
      <!-- Iterate over each plant inside zone -->
      <div class="plant" (click)="_obRouter.goToPlantZoneView(_ac, 'plant', plant.key)" *ngFor="let plant of zone.value | plantsByZone | keyvalue">
        <div class="title">{{ plant.value[0]['Plant (english)'] }}</div>
        <!-- Map current value -->
        <ng-container *ngLet="plant.value | filterYear:'current' | sumQuantity as currentValue">
          <!-- Map previous value -->
          <ng-container *ngLet="plant.value | filterYear:'previous' | sumQuantity as previousValue">
            <div matTooltipPosition="after" matTooltipClass="after" [matTooltip]="currentValue | toNumber" class="actual">{{ currentValue | toNumber }}</div>
            <div matTooltipPosition="after" matTooltipClass="after" [matTooltip]="previousValue | toNumber" class="previous">{{ previousValue | toNumber }}</div>
            <div class="delta">{{ previousValue | difference:currentValue }}</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>