
@import '../../other/colors';

:host {
    color: $semi-white;
}

h2 {
    color: $yellow-text;
}

.example-radio-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}

::ng-deep .mat-dialog-content {
    overflow: initial;
}