<mat-form-field>
  <mat-select panelClass="plant-select-panel" [formControl]="regionProductControl">
      <mat-optgroup label="REGIONS">
        <ng-container *ngFor="let region of rows | distinctItems:'region' | keyvalue">
          <mat-option value="region|{{region.key}}">{{ region.key }}</mat-option>
        </ng-container>
      </mat-optgroup>
      <mat-optgroup label="PRODUCTS">
        <ng-container *ngFor="let product of rows | distinctItems:'product' | keyvalue">
          <mat-option value="product|{{product.key}}">{{ product.key }}</mat-option>
        </ng-container>
      </mat-optgroup>
  </mat-select>
</mat-form-field>