
@import '../../../../other/colors';

:host {
    display: block;
    width: 100%;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

.blackout {
    display: block;
    height: 20px;
    width: 100%;
    background-color: $bg-white-lvl2;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.bar {
    display: block;
    height: 20px;
    -webkit-transition: width 1s ease-in-out .5s;
    -o-transition: width 1s ease-in-out .5s;
    transition: width 1s ease-in-out .5s;
    background-color: $yellow-text-material;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 99;
    width: 100%;
    .allocation {
        display: block;
        height: 20px;
        border-radius: 10px;
        -webkit-transition: width 1s ease-in-out .5s;
        -o-transition: width 1s ease-in-out .5s;
        transition: width 1s ease-in-out .5s;
        background-color: $cyan-text-material;
    }
}

@include lightTheme {
    .bar.allocation {
        background-color: $cyan-text-light !important;
    }
}

.percent {
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 25px;
    text-align: right;
    width: 50px;
    line-height: 20px;
    font-size: 20px;
    color: $lighten-cyan-text;
}

.percent2 {
    color: white;
    text-align: right;
    float: right;
    line-height: 20px;
    padding-right: 10px;
}

.percentProgram {
    position: absolute;
    margin: auto;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 30px;
    text-align: right;
    width: 50px;
    line-height: 20px;
    font-size: 20px;
    color: $yellow-text;
}

::ng-deep .mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

.grey {
    background-color: #737373;
}