@import '../../../../other/colors';

:host {
    display: block;
    left: 0;
}

.empty {
    float: left;
    padding-left: 5px;
}

.plandate {
    display: block;
    padding: 0 40px;
    @include mobile {
        padding: 0 15px;
    }
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: $bg-white-lvl3;
    padding: 0 15px;
    box-sizing: border-box;
    height: 40px;
    @include desktop {
        padding: 0 40px;
    }
    .month {
        flex: 1 40%;
    }
    .program, .allocation, .percent {
        padding: 12px 10px 12px 0;
        box-sizing: border-box;
    }
    .program, .allocation, .percent {
        flex: 1 20%;
        text-align: right;
        text-transform: uppercase;
        font-size: 12px;
        @include desktop {
            flex: 0 0 150px;
            font-size: 1rem;
        }
    }
}

.content-wrapper {
    .group-header {
        display: flex;
        width: 100%;
        padding: 12px 40px;
        @include mobile {
            padding: 12px 15px;
        }
        box-sizing: border-box;
        background-color: $bg-white-lvl1;
    }
    .row {
        user-select: none;
        cursor: pointer;
        &:nth-child(odd) {
            background-color: $bg-white-lvl4;
        }
        &:nth-child(even) {
            background-color: $bg-white-lvl3;
        }
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $yellow-text !important;
        }
        display: flex;
        width: 100%;
        padding: 12px 40px;
        @include mobile {
            padding: 12px 15px;
        }
        box-sizing: border-box;
        &:hover .month {
            &:after {
                left: 10px;
            }
            padding-left: 30px;
            box-sizing: border-box;
        }
        .month {
            flex: 1 40%;
            padding-left: 20px;
            position: relative;
            transition: padding-left .15s ease-in-out;
            &:after {
                transition: left .15s ease-in-out;
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                top: 2px;
                left: 0;
                margin: auto;
                display: block;
                background-image: url(^assets/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .program, .allocation {
            flex: 1 20%;
            text-align: right;
            @include desktop {
                flex: 0 0 150px;
            }
            padding-right: 10px;
            box-sizing: border-box;
        }
        .program {
            color: $yellow-text;
        }
        .allocation {
            color: $lighten-cyan-text;
        }
        .percent {
            flex: 1 20%;
            @include desktop {
                flex: 0 0 150px;
            }
            text-align: right;
        }
    }
}

::ng-deep .mat-form-field {
    max-width: 140px;
}

::ng-deep .mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

::ng-deep .mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

@include lightTheme {
    :host::ng-deep {
        background-color: white;
        .overview {
            background: linear-gradient(to bottom, white, $light-grey2);
            .simple {
                border-left-color: transparent;
                .customer {
                    color: $petrol !important;
                }
                .plan,
                .reserve {
                    color: $light-grey3 !important;
                }
            }
            .data-header {
                background-color: white;
            }
        }
        header {
            background-color: $light-grey2 !important;
            .title {
                color: $light-grey4;
                font-weight: bold;
            }
            .actual {
                color: $petrol;
            }
            .previous {
                color: $orange;
            }
            border-bottom: 2px solid white;
        }
        .group-header {
            background-color: $light-grey2 !important;
            color: $light-grey3;
            font-weight: bold;
        }
        .row {
            background-color: white !important;
            border-bottom: 2px solid $light-grey2 !important;
            .month {
                color: $light-grey4 !important;
                font-weight: bold;
            }
            .percent {
                color: $text-color !important;
                font-weight: bold;
            }
            .allocation {
                color: $petrol !important;
                font-weight: bold;
            }
            .program {
                color: $orange !important;
                font-weight: bold;
            }
        }
    }
}