
@import '../../../../other/colors';

:host {
    display: block;
    width: 100%;
    left: 0;
    -ms-touch-action: pan-y !important;
        touch-action: pan-y !important;
}

.overview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    .data-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        height: 30px;
        line-height: 30px;
        position: relative;
        padding: 0 15px 0 15px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        .empty {
            -webkit-box-flex: 1;
                -ms-flex: 1 70%;
                    flex: 1 70%;
            padding-left: 5px;
            position: relative;
        }
        .report-date {
            -webkit-box-flex: 1;
                -ms-flex: 1 100%;
                    flex: 1 100%;
            text-align: right;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
    .header-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        padding: 12px 15px 12px 15px;
        .title {
            -webkit-box-flex: 1;
                -ms-flex: 1 35%;
                    flex: 1 35%;
            position: relative;
        }
        &.total {
            background-color: $bg-white-lvl1;
        }
        &.arrow .title:after {
            -webkit-transition: left .2s ease-in-out;
            -o-transition: left .2s ease-in-out;
            transition: left .2s ease-in-out;
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            top: 2px;
            left: -2px;
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg);
            margin: auto;
            display: block;
            background-image: url(../../../../../assets/arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.zone {
            cursor: pointer;
        }
        &.plant, &.zone {
            background-color: $bg-white-lvl3;
            cursor: pointer;
            .title {
                padding-left: 25px;
            }
        }
        .customer, .plan, .total {
            -webkit-box-flex: 1;
                -ms-flex: 1 20%;
                    flex: 1 20%;
            text-align: right;
            font-size: 15px;
            padding-right: 10px;
        }
        .total div:nth-child(2) {
            margin-top: 10px;
        }
        .reserve {
            -webkit-box-flex: 1;
                -ms-flex: 1 10%;
                    flex: 1 10%;
            text-align: right;
            font-size: 15px;
        }
        .customer {
            color: $lighten-cyan-text;
        }
        .total {
            color: $yellow-text;
        }
    }
    .meters {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        height: 160px;
        position: relative;
        background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#303030));
        background: -webkit-linear-gradient(top, #000, #303030);
        background: -o-linear-gradient(top, #000, #303030);
        background: linear-gradient(to bottom, #000, #303030);
        border-bottom: 3px solid black;
        .meter {
            -webkit-box-flex: 1;
                -ms-flex: 1 50%;
                    flex: 1 50%;
            height: 100%;
            &:nth-child(2) {
                border-left: 3px solid black;
            }
            .container {
                width: 120px;
                height: 120px;
                margin: 20px auto 0;
                position: relative;
                .percent {
                    position: absolute;
                    height: 30px;
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    top: 0;
                    bottom: 0;
                    font-size: 27px;
                }
            }
        }
    }
    .title-header {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        padding: 12px 15px 12px 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-transform: uppercase;
        background-color: $bg-white-lvl1;
        letter-spacing: 1px;
        .title {
            -webkit-box-flex: 1;
                -ms-flex: 1 100%;
                    flex: 1 100%;
        }
    }
    .lvl2-row {
        -webkit-box-flex: 1;
            -ms-flex: 1 100%;
                flex: 1 100%;
        padding: 12px 15px 12px 15px;
        height: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-transition: border-bottom .15s ease-in-out;
        -o-transition: border-bottom .15s ease-in-out;
        transition: border-bottom .15s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom-color: $yellow-text;
        }
        &:nth-child(even) {
            background-color: $bg-white-lvl3;
        }
        &:nth-child(odd) {
            background-color: $bg-white-lvl4;
        }
        &:hover .title {
            padding-left: 30px;
            &:after {
                left: 15px;
            }
        }
        .title {
            -webkit-box-flex: 1;
                -ms-flex: 1 35%;
                    flex: 1 35%;
            padding-left: 20px;
            position: relative;
            -webkit-transition: padding-left .15s ease-in-out;
            -o-transition: padding-left .15s ease-in-out;
            transition: padding-left .15s ease-in-out;
            &:after {
                -webkit-transition: left .15s ease-in-out;
                -o-transition: left .15s ease-in-out;
                transition: left .15s ease-in-out;
                content: "";
                position: absolute;
                height: 12px;
                width: 12px;
                top: 2px;
                left: 0;
                margin: auto;
                display: block;
                background-image: url(../../../../../assets/arrow.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .customer, .plan, .total {
            -webkit-box-flex: 1;
                -ms-flex: 1 20%;
                    flex: 1 20%;
            text-align: right;
            padding-right: 10px;
        }
        .total div:nth-child(2) {
            margin-top: 10px;
        }
        .reserve {
            -webkit-box-flex: 10%;
                -ms-flex: 10%;
                    flex: 10%;
            text-align: right;
        }
    }
}

.overview header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 35px;
    padding: 0 15px 0 15px;
    line-height: 35px;
    .title {
        -webkit-box-flex: 1;
            -ms-flex: 1 35%;
                flex: 1 35%;
        position: relative;
        ::ng-deep .mat-icon {
            margin-right: 10px;
            font-size: 22px;
        }
    }
    .reserve {
        -webkit-box-flex: 1;
            -ms-flex: 1 10%;
                flex: 1 10%;
    }
    .customer, .plan, .total, .reserve {
        text-align: right;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }
    .customer, .plan, .total {
        -webkit-box-flex: 1;
            -ms-flex: 1 20%;
                flex: 1 20%;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}

::ng-deep .mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}