
@import 'colors';

:host {
    display: block;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid $yellow-text;
    margin-bottom: 30px;
}
@include lightTheme {
    :host {
        color: $light-grey4;
    }
}