<div class="meter">
  <div class="container" [matTooltip]="actualValue | toNumber" matTooltipPosition="above" matTooltipClass="actual">
    <div [ngClass]="{'negative': !clockwise_actual}" class="percent cyan">{{ actual }}%</div>
    <round-progress [clockwise]="clockwise_actual" [duration]="1000" [animation]="'easeInOutCubic'" [animationDelay]="200"
      [max]="100" [radius]="60" [stroke]="13" [current]="actual" background="rgba(0, 172, 193, .2)" [color]="data.lightTheme ? '#17687F' : '#00acc1'"></round-progress>
  </div>
</div>
<div class="meter">
  <div class="container" [matTooltip]="previousValue | toNumber" matTooltipPosition="above" matTooltipClass="previous">
    <div [ngClass]="{'negative': !clockwise_previous}" class="percent orange">{{ previous }}%</div>
    <round-progress [clockwise]="clockwise_previous" [duration]="1000" [animation]="'easeInOutCubic'" [animationDelay]="200"
      [max]="100" [radius]="60" [stroke]="13" [current]="previous" background="rgba(243, 18, 40, .2)" [color]="data.lightTheme ? '#f2142c' : '#f2142c'"></round-progress>
  </div>
</div>