
@import 'colors';

:host {
    display: flex;
    flex: 1 100%;
    height: 170px;
    position: relative;
    background: linear-gradient(to bottom, rgba(255,255,255,0), $bg-white-lvl1);
    @include new-dark-theme-host {
        background: $new-dark-body-bg-color;
    }
    border-bottom: 2px solid rgba(black, .05);
    .meter {
        flex: 1 50%;
        height: 100%;
        &:nth-child(2) {
            border-left: 2px solid rgba(black, .35);
        }
        .container {
            width: 120px;
            height: 120px;
            margin: 20px auto 0;
            position: relative;
            .percent {
                position: absolute;
                height: 30px;
                width: 100%;
                margin: auto;
                text-align: center;
                top: 0;
                bottom: 0;
                font-size: 27px;
            }
        }
    }
}

::ng-deep .mat-tooltip.actual {
    border-color: $cyan-text;
}

::ng-deep .mat-tooltip.previous {
    border-color: $yellow-text;
}

@include lightTheme {
    :host {
        .cyan {
            color: $petrol;
        }
        .orange {
            color: $orange;
        }
        .meter {
            border-left-color: transparent;
        }
        border-bottom-color: white;
        background: linear-gradient(to bottom, white, $light-grey2);
    }
    ::ng-deep {
        .mat-tooltip.actual {
            border-color: $petrol;
        }
        .mat-tooltip.previous {
            border-color: $orange;
        }
    }
}