
@import 'colors';

:host {
    display: block;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    touch-action: pan-y !important;
}

:host::ng-deep app-theme-switcher {
    margin: 30px 0;
}

@include lightTheme {
    :host {
        a {
            color: $petrol !important;
            font-weight: bold;
        }
    }
}

.contact-info {
    display: flex;
    &:nth-child(2) {
        margin-bottom: 30px;
    }
    &:last-child {
        margin-bottom: 10px;
    }
    .category {
        flex: 1 35%;
        line-height: 25px;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .telephones {
        flex: 1 65%;
        line-height: 25px;
    }
}

p {
    line-height: 20px;
    text-align: justify;
}

a {
    color: $lighten-cyan-text;
    position: relative;
    text-decoration: none;
    &:hover:after {
        width: 100%;
    }
    &:after {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        opacity: .7;
        transition: width .2s ease-in-out;
        background-color: $lighten-cyan-text;
        bottom: -5px;
        left: 0;
        border-radius: 3px;
        right: 0;
        position: absolute;
        margin: auto;
    }
}

.helpers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .helper {
        flex: 1 100%;
        @include desktop {
            flex: 1 33.333333%;
            max-width: 33.333333%;
        }
        display: flex;
        flex-direction: column;
        .title {
            flex: 0 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .content {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .portrait_landscape {
        width: 250px;
        height: 140px;
        background-image: url(^assets/img/portrait_landscape.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .scroll_swipe {
        width: 250px;
        height: 135px;
        background-image: url(^assets/img/scroll_swipe.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .hand1, .hand2 {
        width: 50px;
        height: 90px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    .hand1 {
        background-image: url(^assets/img/hand1.svg);
    }
    .hand2 {
        margin-left: 80px;
        height: 95px;
        background-image: url(^assets/img/hand2.svg);
    }
}

.navigations {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    .navigation {
        flex: 1 100%;
        @include desktop {
            flex: 0 50%;
            max-width: 50%;
        }
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        .title {
            display: flex;
            flex: 0 100px;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
        }
        .arrows {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 100px;
            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                .icon {
                    height: 70px;
                    width: 70px;
                    @include desktop {
                        height: 100px;
                        width: 100px;
                    }
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.arrow-down {
                        background-image: url(^assets/img/DIP_Helpgra_arrowdown_yellow-05.png);
                    }
                    &.arrow-right {
                        background-image: url(^assets/img/DIP_Helpgra_arrowright_yellow-06.png);
                    }
                    &.arrow-left {
                        background-image: url(^assets/img/DIP_Helpgra_arrowleft_yellow-07.png);
                    }
                }
            }
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            .dropdowns {
                width: 300px;
                height: 450px;
                background-image: url(^assets/img/dark/DIP_Helpgra_selectors_black-09.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include light-theme {
                    background-image: url(^assets/img/light/DIP_Helpgra_selectors_white-08.png);
                }
            }
            .go-depth {
                width: 300px;
                height: 450px;
                background-image: url(^assets/img/dark/DIP_Helpgra_hierarchy_black-04-10.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include light-theme {
                    background-image: url(^assets/img/light/DIP_Helpgra_hierarchy_white-04.png);
                }
            }
        }
    }
}

@include lightTheme {
    :host .helpers .helper {
        .portrait_landscape {
            background-image: url(^assets/img/dark/DIP_Helpgra_mobile_black-02.png);
        }
        .scroll_swipe {
            background-image: url(^assets/img/dark/DIP_Helpgra_tablet_black-03.png);
        }
        .hand1 {
            background-image: url(^assets/img/hand1.svg);
        }
        .hand2 {
            background-image: url(^assets/img/hand2.svg);
        }
    }
}