<mat-form-field>
  <mat-select panelClass="plant-select-panel" [formControl]="plantControl">
    <ng-container *ngFor="let zone of zones$ | keyvalue">
      <ng-container *ngLet="zone.value | groupOrPlantName:'zone' as zoneName">
        <mat-option class="zone" value="zone|{{zone.key}}">{{ zoneName }}</mat-option>
      </ng-container>
      <ng-container class="plant" *ngFor="let plant of zone.value | plantsByZone | keyvalue">
        <ng-container *ngLet="plant.value | groupOrPlantName:'plant' as plantName">
          <mat-option class="plant" value="plant|{{plant.key}}">{{ plantName }}</mat-option>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-select>
</mat-form-field>