
@import 'app/other/colors';
@import "material-theme";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(^assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(^assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(^assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(^assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

@font-face {
    font-family: CorpoS;
    src: url(^assets/c063003t.ttf) format('truetype');
}

@font-face {
    font-family: CorpoSDem;
    src: url(^assets/c063004t.ttf) format('truetype');
}

* {
    font-family: "CorpoS", sans-serif;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}



@include mobile {
    .graphic .werk .title {
        font-size: 8pt !important
    }
    .graphic .zone .title {
        font-size: 8pt !important
    }
}

html {
    -webkit-text-size-adjust: 100%;
}

.mat-select-panel {
    background: $main-bg-body-color !important;
}

@include lightTheme {
    color: $text-color;
    ::-webkit-scrollbar-track {
        background-color: $light-grey2;
    }
    .mat-drawer-container {
        color: $text-color;
    }
    .mat-expansion-panel-content {
        color: $text-color;
        .prop {
            color: $text-color !important;
        }
    }
    .mat-expansion-panel-header-title {
        color: $text-color !important;
    }
    .changelog > ul > li > ul > li {
        color: $text-color !important;
    }
    .mat-select-value-text {
        color: $light-grey3;
        font-weight: bold;
    }
    .mat-select-arrow {
        color: $light-grey3 !important;
    }
    .mat-select-panel {
        background: $light-grey1 !important;
        .mat-option {
            &.mat-selected .mat-option-text {
                font-weight: bold;
            }
            .mat-option-text {
                color: $light-grey3 !important;
            }
        }
    }
    .mat-sidenav-content header * {
        font-weight: bold;
        color: $light-grey3;
    }
}

.data-header {
    z-index: 99;
}

@include lightTheme {
    .data-header,
    .plandate {
        margin-top: 10px;
        color: $light-grey4;
        font-weight: bold;
    }
    .mat-slide-toggle-content {
        color: $light-grey4;
    }
    .headers div,
    .overview-group div {
        font-weight: bold;
    }
    .mat-drawer {
        background-color: #F7F7F7 !important;
        ul li {
            color: $light-grey4;
        }
    }
}

html, body {
    color: $semi-white;
    background-color: $main-bg-body-color;
    @include lightTheme {
        background-color: $main-bg-body-color-light;
    }
    background-image: url(^assets/neurons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
    font-size: 13.333px;
    @include desktop {
        font-size: 15px;
    }
    -webkit-transform: translate3d(0,0,0,0);
            transform: translate3d(0,0,0,0);
}

button, .mat-option, .mat-select-value-text, .mat-expansion-panel-header, .mat-expansion-panel-content {
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
}

.mat-select-content {
    background-color: $bg-white-lvl3-pure !important;
}

@include desktop {
    .plant .title, 
    .row .month, 
    .lvl2-row .title, 
    .lvl3-row .title,
    .row .werk {
        padding-left: 30px !important;
    }
    .header-row {
        .actual, .previous {
            font-size: 1.2rem !important;
            font-weight: bold;
        }
    }
    header .mat-form-field {
        margin-left: 0 !important;
    }
    .plandate {
        margin-top: 20px !important;
        letter-spacing: 1px;
    }
    plant-stock-wrapper .plandate {
        margin-bottom: -20px;
    }
}

.mat-drawer-content {
    width: 100%;
    overflow: initial !important
}

.percent.negative:before {
    content: "- ";
}

.mat-expansion-panel-header-title {
    color: $semi-white !important;
}

@media screen and (max-width: 800px) {
    .graphic .zone {
        top: 0 !important;
    }
}

@media (min-width: 300px) and (max-width: 1000px) and (orientation: landscape) {
    .graphic .zone, .graphic .month, .graphic .werk {
        top: 0 !important;
    }
}

.mat-expansion-panel-header {
    border-bottom: 1px solid rgba($yellow-text-material, .8);
}

.mat-expansion-panel-content {
    margin-top: 10px;
}

.mat-expanded .mat-expansion-panel-content {
    margin-top: 30px;
}

.mat-drawer {
    position: fixed !important
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: $bg-white-lvl3-pure;
}
 
::-webkit-scrollbar-thumb {
    background-color: $yellow-text;
}

::ng-deep router-outlet {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

.mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

.mat-tooltip.actual, .mat-tooltip.allocation {
    overflow: initial !important;
}

.mat-tooltip.actual:after, .mat-tooltip.allocation:after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $cyan-text;
}
@include lightTheme {
    .mat-tooltip.actual:after, .mat-tooltip.allocation:after {
        border-top: 5px solid $cyan-text-light;
    }
}

.mat-tooltip.reserve_g:after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba($semi-white, .5);
}

.mat-tooltip.previous, .mat-tooltip.program {
    overflow: initial !important;
}

.mat-tooltip.previous:after, .mat-tooltip.program:after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $yellow-text;
}

.mat-tooltip {
    font-size: 13px;
    overflow: initial !important;
    background-color: $bg-white-lvl1;
    border: 1px solid rgba(255,255,255,.2);
}

.mat-tooltip.reserve {
    border: 1px solid rgba($semi-white,.5);
}

.cyan {
    color: $lighten-cyan-text;
}

.orange {
    color: $yellow-text;
}

.mat-sidenav-container {
    min-height: 100vh !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.darker-dialog .mat-dialog-container {
    background-color: $bg-white-lvl3;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $yellow-text;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $yellow-text;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba($color: $yellow-text, $alpha: .26),
}

.mat-radio-label-content {
    font-size: 15px;
    padding-left: 10px;
}

.mat-simple-snackbar-action .mat-button-wrapper {
    color: $yellow-text !important;
}

.mat-snack-bar-container {
    background-color: rgba(0,0,0,.4) !important;
}

.newUpdate .mat-dialog-container {
    background-color: $main-bg-body-color !important;
}

@media (min-width: 800px) {
    .data-header .empty, .plandate .empty {
        opacity: 0;
    }
}

.inlineBlock {
    display: inline-block;
}

.mat-form-field .mat-select-value {
    max-width: initial !important;
    width: initial !important;
    padding-right: 10px;
}