
@import 'app/other/colors';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: $semi-white;
    background-color: $main-bg-color;
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
    font-size: 13.333px;
}

button, .mat-option, .mat-select-value-text, .mat-expansion-panel-header, .mat-expansion-panel-content {
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
}


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: $bg-white-lvl3;
}
 
::-webkit-scrollbar-thumb {
    background-color: $yellow-text;
}

::ng-deep router-outlet {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mat-tooltip {
    font-size: 13px;
    background-color: $bg-white-lvl1;
    border: 1px solid rgba(255,255,255,.2);
}

.cyan {
    color: $cyan-text;
}

.orange {
    color: $yellow-text,
}

.mat-sidenav-container {
    min-height: 100vh !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.darker-dialog .mat-dialog-container {
    background-color: $bg-white-lvl3;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $yellow-text;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $yellow-text;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba($color: $yellow-text, $alpha: .26),
}

.mat-radio-label-content {
    font-size: 15px;
    padding-left: 10px;
}