
@import 'app/other/colors';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: CorpoS;
    src: url(assets/c063003t.ttf) format('truetype');
}

@font-face {
    font-family: CorpoSDem;
    src: url(assets/c063004t.ttf) format('truetype');
}

* {
    font-family: "CorpoS", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    color: $semi-white;
    background-color: $main-bg-body-color;
    background-image: url(assets/neurons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
    font-size: 13.333px;
    -webkit-transform: translate3d(0,0,0,0);
            transform: translate3d(0,0,0,0);
}

button, .mat-option, .mat-select-value-text, .mat-expansion-panel-header, .mat-expansion-panel-content {
    font-family: "CorpoS", "Arial", "sans-serif", "HelveticaNeue", "Verdana" !important;
}

.mat-select-content {
    background-color: $bg-white-lvl3-pure !important;
}

.mat-drawer-content {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: $bg-white-lvl3-pure;
}
 
::-webkit-scrollbar-thumb {
    background-color: $yellow-text;
}

::ng-deep router-outlet {
    position: absolute;
    width: 100%;
    height: 100%;
}

.mat-tooltip.above {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -10px;
        width: 0;
        content: "";
        display: block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(0,0,0,.4);
    }
}

.mat-tooltip.after {
    border: 0;
    background-color: rgba(0,0,0,.4);
    position: relative;
    overflow: initial !important;
    &:after {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: -8px;
        height: 0;
        content: "";
        display: block;
        border-top: 6px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 8px solid rgba(0, 0, 0, 0.4);
    }
}

.mat-tooltip.actual, .mat-tooltip.allocation {
    overflow: initial !important;
}

.mat-tooltip.actual:after, .mat-tooltip.allocation:after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $cyan-text;
}

.mat-tooltip.previous, .mat-tooltip.program {
    overflow: initial !important;
}

.mat-tooltip.previous:after, .mat-tooltip.program:after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    margin: auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $yellow-text;
}

.mat-tooltip {
    font-size: 13px;
    background-color: $bg-white-lvl1;
    border: 1px solid rgba(255,255,255,.2);
}

.cyan {
    color: $lighten-cyan-text;
}

.orange {
    color: $yellow-text;
}

.mat-sidenav-container {
    min-height: 100vh !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.darker-dialog .mat-dialog-container {
    background-color: $bg-white-lvl3;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $yellow-text;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $yellow-text;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgba($color: $yellow-text, $alpha: .26),
}

.mat-radio-label-content {
    font-size: 15px;
    padding-left: 10px;
}

.mat-simple-snackbar-action .mat-button-wrapper {
    color: $yellow-text !important;
}

.mat-snack-bar-container {
    background-color: rgba(0,0,0,.4) !important;
}

.newUpdate .mat-dialog-container {
    background-color: $main-bg-body-color !important;
}

@media (min-width: 800px) {
    .data-header .empty {
        opacity: 0;
    }
}

.inlineBlock {
    display: inline-block;
}