
@import 'colors';

:host {
    display: block;
    width: 100%;
    left: 0;
    -ms-touch-action: pan-y !important;
        touch-action: pan-y !important;
}

.overview {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    .data-header {
        display: flex;
        @include desktop {
            margin-top: 20px;
        }
        flex: 1 100%;
        height: 30px;
        line-height: 30px;
        position: relative;
        padding: 0 30px 0 15px;
        @include desktop {
            padding-right: 40px;
        }
        box-sizing: border-box;
        // background-color: $bg-white-lvl3;
        background-color: $body-bg-color;
        .empty {
            flex: 1 70%;
            padding-left: 5px;
            position: relative;
        }
        .report-date, .glyph {
            flex: 1 15%;
            text-align: right;
            font-size: 15px;
            letter-spacing: 1px;
        }
    }
    .total-headers {
        flex: 1 100%;
    }
    .header-row {
        display: flex;
        flex: 1 100%;
        padding: 12px 40px;
        @include mobile {
            padding: 12px 20px 12px 15px;
        }
        background-color: $total-upper-bg-color;
        border-bottom: 2px solid $body-bg-color;
        .title {
            flex: 1 70%;
            position: relative;
        }
        &:last-of-type {
            background-color: $total-lower-bg-color;
        }
        &.total {
            // background-color: $bg-white-lvl1;
        }
        &.arrow .title:after {
            transition: left .2s ease-in-out;
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            top: 0;
            bottom: 0;
            left: -2px;
            transform: rotate(180deg);
            margin: auto;
            display: block;
            background-image: url(^assets/arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &.zone {
            cursor: pointer;
        }
        &.plant {
            // background-color: $bg-white-lvl4;
        }
        &.sub2 {
            // background-color: $bg-white-lvl3;
        }
        &.plant, &.zone, &.sub2, &.sub3 {
            cursor: pointer;
            .title {
                padding-left: 25px;
            }
        }
        .actual, .previous {
            flex: 1 15%;
            text-align: right;
            @include detailStyle;
            font-weight: bold;
        }
        .actual {
            color: $lighten-cyan-text;
        }
        .previous {
            color: $yellow-text;
        }
    }
    .title-header {
        flex: 1 100%;
        padding: 12px 40px;
        @include mobile {
            padding: 12px 20px 12px 15px;
        }
        display: flex;
        background-color: $bg-white-lvl1;
        .title {
            flex: 1 100%;
            @include desktop {
                letter-spacing: 1px;
            }
        }
    }
    .lvl3-row {
        flex: 1 100%;
        padding: 12px 40px;
        @include mobile {
            padding: 12px 20px 12px 15px;
        }
        @include rowHoverEffect;
        display: flex;
        cursor: pointer;
        &:nth-child(even) {
            // background-color: $bg-white-lvl3;
            background-color: $row-even-bg-color;
        }
        &:nth-child(odd) {
            // background-color: $bg-white-lvl4;
            background-color: $row-odd-bg-color;
        }
        .title {
            flex: 1 70%;
            padding-left: 0;
            position: relative;
            transition: padding-left .15s ease-in-out;
        }
        .actual, .previous {
            flex: 1 15%;
            text-align: right;
        }
    }
}

@include lightTheme {
    :host {
        background-color: white;
        .overview {
            .data-header {
                background-color: white;
            }
            .header-row.total,
            .header-row.sub2,
            .header-row.sub3 {
                background-color: $light-grey2;
                .title {
                    color: $light-grey4;
                    font-weight: bold;
                }
                .actual {
                    color: $petrol;
                }
                .previous {
                    color: $orange;
                }
                border-bottom: 2px solid white;
            }
            .header-row.plant {
                background-color: $light-grey2;
                .title {
                    color: $light-grey4;
                    font-weight: bold;
                }
                .actual {
                    color: $petrol;
                }
                .previous {
                    color: $orange;
                }
            }
            .title-header {
                background-color: $light-grey2;
                .title {
                    color: $light-grey3;
                    font-weight: bold;
                }
            }
            .lvl3-row {
                background-color: white;
                border-bottom: 1px solid $light-grey2;
                .title {
                    color: $light-grey4 !important;
                    font-weight: bold;
                }
                .actual {
                    color: $text-color !important;
                    font-weight: bold;
                }
                .previous {
                    color: $text-color !important;
                    font-weight: bold;
                }
            }
        }
    }
}