<div class="overview">
  <div class="data-header">
    <div class="empty"></div>
    <div class="report-date">{{ plandate }}</div>
    <div class="glyph">&Oslash;</div>
  </div>
  <div class="total-headers">
    <ng-container *ngIf="ZoneID != null && groupInfo">
      <div class="header-row total">
        <div class="title">TOTAL</div>
        <div class="actual">{{ groupInfo.totalActual | toNumber }}</div>
        <div class="previous">{{ groupInfo.totalPrevious | toNumber }}</div>
      </div>
      <div class="header-row arrow sub2" (click)="returnToMain()">
        <div class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.main' | translate}}">{{
            groupInfo.zoneRows[0][config.config.reports.trucks.columns.orderIntake.groupName[config.config.language]]}}</span></div>
        <div class="actual">{{ groupInfo.zoneActual | toNumber }}</div>
        <div class="previous">{{ groupInfo.zonePrevious | toNumber }}</div>
      </div>
      <div class="header-row arrow sub3" (click)="return()">
        <div *ngIf="RegionID != null" class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.second' | translate}}">{{
            'region' | translate }} - {{
            subRows[0][config.config.reports.trucks.columns.orderIntake.region[config.config.language]]}}</span></div>
        <div *ngIf="RegionID == null" class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.second' | translate}}">{{
            'company' | translate }} - {{
            subRows[0][config.config.reports.trucks.columns.orderIntake.product[config.config.language]]}}</span></div>
        <div class="actual">{{ data.sumByIndex(subRows,this.config.config.reports.trucks.columns.orderIntake.actual) |
          toNumber }}</div>
        <div class="previous">{{ data.sumByIndex(subRows,this.config.config.reports.trucks.columns.orderIntake.previous)
          | toNumber }}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="PlantID != null && groupInfo">
      <div class="header-row total">
        <div class="title">{{
          groupInfo.zoneRows[0][config.config.reports.trucks.columns.orderIntake.groupName[config.config.language]]}}</div>
        <div class="actual">{{ groupInfo.zoneActual | toNumber }}</div>
        <div class="previous">{{ groupInfo.zonePrevious | toNumber }}</div>
      </div>
      <div class="header-row arrow sub2" (click)="returnToMain()">
        <div class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.main' | translate}}">{{
            groupInfo.plantRows[0][config.config.reports.trucks.columns.orderIntake.plantName[config.config.language]]}}</span></div>
        <div class="actual">{{ groupInfo.plantActual | toNumber }}</div>
        <div class="previous">{{ groupInfo.plantPrevious | toNumber }}</div>
      </div>
      <div class="header-row arrow sub3" (click)="return()">
        <div *ngIf="RegionID != null" class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.second' | translate}}">{{
            'region' | translate }} - {{
            subRows[0][config.config.reports.trucks.columns.orderIntake.region[config.config.language]]}}</span></div>
        <div *ngIf="RegionID == null" class="title"><span matTooltipClass="after" matTooltipPosition="after" matTooltip="{{ 'return.second' | translate}}">{{
            'company' | translate }} - {{
            subRows[0][config.config.reports.trucks.columns.orderIntake.product[config.config.language]]}}</span></div>
        <div class="actual">{{ data.sumByIndex(subRows,this.config.config.reports.trucks.columns.orderIntake.actual) |
          toNumber }}</div>
        <div class="previous">{{ data.sumByIndex(subRows,this.config.config.reports.trucks.columns.orderIntake.previous)
          | toNumber }}</div>
      </div>
    </ng-container>
  </div>
  <dip-circular-meters [actualValue]="groupInfo.thisActual" [previousValue]="groupInfo.thisPrevious" [actual]="groupInfo.progress1 || 0"
    [previous]="groupInfo.progress2 || 0" *ngIf="ready && groupInfo"></dip-circular-meters>
  <div class="lvl3-row" (click)="goAnother(key)" *ngFor="let key of groupKeys">
    <div *ngIf="RegionID != null" class="title">{{
      groupInfo.sub3rows[key][0][[config.config.reports.trucks.columns.orderIntake.product[config.config.language]]]}}</div>
    <div *ngIf="RegionID == null" class="title">{{
      groupInfo.sub3rows[key][0][[config.config.reports.trucks.columns.orderIntake.region[config.config.language]]]}}</div>
    <div class="actual cyan">{{ data.sumByIndex(groupInfo.sub3rows[key], 12) | toNumber }}</div>
    <div class="previous orange">{{ data.sumByIndex(groupInfo.sub3rows[key], 13) | toNumber }}</div>
  </div>
</div>