@import '../../../../other/colors';

:host {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
}

.zone {
    display: inline-block;
    height: 100%;
    position: relative;
    cursor: pointer;
    -webkit-transition: top .15s ease-in-out;
    -o-transition: top .15s ease-in-out;
    transition: top .15s ease-in-out;
    top: 0;
    &:hover {
        top: -10px;
    }
    .title {
        position: absolute;
        height: 30px;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 30px;
        text-align: center;
    }
    .bars {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: calc(100% - 40px);
        width: calc(100% - 20px);
        .actual {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            width: calc(50% - 2px);
            -webkit-transition: height .7s ease-in-out;
            -o-transition: height .7s ease-in-out;
            transition: height .7s ease-in-out;
            background-color: $cyan-text-material;
            &.zero {
                height: 0% !important;
            }
        }
        .previous {
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 3px;
            width: calc(50% - 2px);
            -webkit-transition: height .7s ease-in-out;
            -o-transition: height .7s ease-in-out;
            transition: height .7s ease-in-out;
            background-color: $yellow-text-material;
            &.zero {
                height: 0% !important;
            }
        }
        .reserve {
            position: absolute;
            bottom: 0;
            right: 0;
            border-radius: 3px;
            width: calc(50% - 5px);
            -webkit-transition: height .7s ease-in-out;
            -o-transition: height .7s ease-in-out;
            transition: height .7s ease-in-out;
            background-color: rgba($semi-white, .5);
            &.zero {
                height: 0% !important;
            }
        }
    }
}

::ng-deep .actual {
    border-color: $cyan-text-material;
}

::ng-deep .previous {
    border-color: $yellow-text-material;
}

@include lightTheme {
    :host::ng-deep {
        .actual {
            border-color: $petrol;
        }
        .previous {
            border-color: $orange;
        }
        .zone {
            .bars {
                .actual {
                    background-color: $petrol !important;
                }
                .previous {
                    background-color: $orange !important;
                }
                .reserve {
                    background-color: grey !important;
                }
            }
            .title {
                color: $light-grey4;
                font-weight: bold;
            }
        }
    }
}