<header *ngIf="data.accessGranted"></header>
<mat-sidenav-container>
    <mat-sidenav mode="push" position="end" [(opened)]="data.sidenavOpened">
        <ul class="links">
            <li (click)="close()" routerLink="/order-intake" routerLinkActive="active">{{ 'menu.order_intake' |
                translate }}</li>
            <li (click)="close()" routerLink="/production-program" routerLinkActive="active">{{
                'menu.production_program' | translate }}</li>
            <li (click)="close()" routerLink="/allocation" routerLinkActive="active">{{ 'menu.allocation' | translate
                }}</li>
            <li (click)="close()" routerLink="/plant-stock" routerLinkActive="active">{{ 'menu.plant_stock' | translate
                }}</li>
            <li (click)="close()" routerLink="/about" routerLinkActive="active">{{ 'menu.about' | translate }}</li>
            <li (click)="close()" routerLink="/help" routerLinkActive="active">{{ 'menu.help' | translate }}</li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div (swipeleft)="data.sidenavOpened = true" class="menu-swipper"></div>
<footer></footer>
<loader></loader>