
@import 'colors';

:host {
    display: block;
}

.content {
    margin-top: 70px;
    // margin-bottom: 32px;
}

::ng-deep .mat-drawer-container {
    color: $semi-white;
    background-color: transparent;
}

::ng-deep .mat-drawer {
    background-color: $main-bg-color !important;
    width: 90%;
    color: white;
}

::ng-deep mat-sidenav {
    padding: 100px 30px 62px;
}

::ng-deep mat-sidenav-container {
    min-height: 450px;
}

.links {
    list-style-type: none;
    line-height: 35px;
    li {
        outline: 0;
        padding-left: 40px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 10px;
        transition: all .15s ease-in-out;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 10px;
            height: 13px;
            width: 13px;
            transition: left .15s ease-in-out;
            background-image: url(^assets/arrow.svg);
            background-size: contain;
            background-repeat: no-repeat;
        }
        &:hover {
            &:before {
                left: 18px;
                background-image: url(^assets/arrow.yellow.svg);
            }
            color: $yellow-text;
        }
    }
}

.menu-swipper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    z-index: 999;
    @include desktop {
        display: none;
    }
}