<header *ngIf="data.accessGranted"></header>
<mat-sidenav-container>
    <mat-sidenav mode="push" position="end" [(opened)]="data.sidenavOpened">
        <ul class="links">
            <li *ngFor="let link of reports | async" [routerLink]="link.link" (click)="close()" routerLinkActive="active">{{ 'menu.'+link.text | translate }}</li>
            <li (click)="close()" routerLink="/about" routerLinkActive="active">{{ 'menu.about' | translate }}</li>
            <li (click)="close()" routerLink="/help" routerLinkActive="active">{{ 'menu.help' | translate }}</li>
            <app-theme-switcher></app-theme-switcher>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div (swipeleft)="data.sidenavOpened = true" class="menu-swipper"></div>
<footer></footer>
<loader></loader>